<div *ngIf="adv">
  <h2>Hugly Adv</h2>
  <p *ngIf="adv.year       ">year       : {{ adv.year        }}</p>
  <p *ngIf="adv.season     ">season     : {{ adv.season      }}</p>
  <p *ngIf="adv.awardXP    ">awardXP    : {{ adv.awardXP     }}</p>
  <p *ngIf="adv.description">description: {{ adv.description }}</p>
  <p *ngIf="adv.index      ">index      : {{ adv.index       }}</p>
  <p *ngIf="adv.type       ">type       : {{ adv.type        }}</p>
  <div *ngIf="adv.traits">
    <p>Traits:</p>
    <ul>
      <li *ngFor="let t of adv.traits">
        <p *ngIf="t.addedXP">addedXP : {{ t.addedXP  }}</p>
        <p *ngIf="t.label  ">label   : {{ t.label    }}</p>
        <p *ngIf="t.class  ">class   : {{ t.class    }}</p>
        <p *ngIf="t.id     ">id      : {{ t.id       }}</p>
      </li>
    </ul>
  </div>
  <p *ngIf="adv.id         ">id         : {{ adv.id          }}</p>
</div>
